.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.chat-room-list {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.chat-room-list h1 {
    text-align: center;
    margin-bottom: 40px;
}

.chat-room-list ul {
    list-style-type: none;
    padding: 0;
}

.chat-room-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.chat-room-list li a {
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-right: auto;
}

.chat-room-list li button {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    text-align: left;
    border: none;
}

.chat-room {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.chat-room h1 {
    text-align: center;
    margin-bottom: 20px;
}

.chat-room-option {
    display: flex;
    justify-content: space-between;
}

.option-button {
    padding : 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #E3E1D9;
    font-size: 18px;
    color: black;
}

.option-button:hover {
    background-color: #B3A398;
}

.option-button:active {
    background-color: #B3A398;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.message-user {
    font-size: 0.8rem;
    color: #666;
    margin-bottom: 5px;
}

.message-content {
    font-size: 1rem;
    line-height: 1.5;
}

.mine {
    align-self: flex-end;
    background-color: #dcf8c6;
    text-align: right;
}

.others {
    align-self: flex-start;
    background-color: #fff;
    text-align: left;
    border: 1px solid #ddd;
}

.chat-input {
    display: flex;
    justify-content: space-between;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.create-room {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.create-room input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.create-room button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.create-room button:hover {
    background-color: #0056b3;
}

.beginChat-popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginChat-popup-content {
    background-color: white;
    padding : 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

#popup-part1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#popup-part1 label{
    flex: 0 0 35px;
    margin-right: 10px;
    margin-bottom: 0px;
    text-align: start;
}

#popup-part1 input[type='text'] {
    flex: 1;
    padding : 8px;
    margin-left: -5px;
    border : 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

#popup-buttonbox {
    display: flex;
    align-items: flex-start;
}

#popup-button {
    padding: 10px 20px;
    margin-right : 15px;
    border: none;
    border-radius: 5px;
    color : black;
    font-size: 15px;
}
