#boardhome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: none;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between;
}

#parts {
    font-size: 14pt;
    color: #333;
    margin: 10px;
    padding: 15px;
    background-color: #E3E1D9;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

#parts:hover {
    background-color: #B3A398;
}

#parts:active {
    background-color: #B3A398;
}

#post-list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1e1e1d6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

#post-list-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

#post-list {
    list-style-type: none;
    padding: 0;
}

#post-item {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size : 13pt;
}

#post-title {
    font-size: 1.5rem;
    color: #007BFF;
    text-decoration: none;
}

#post-title:hover {
    text-decoration: underline;
}

#post-content {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

#post-author {
    font-size: 0.875rem;
    color: #999;
}