.post-form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.back-link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #b49784;
    transition: color 0.3s ease;
}

.back-link:hover {
    color: #af8466;
}

.form-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.post-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.form-textarea {
    height: 150px;
    resize: vertical;
}

.form-submit {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #E3E1D9;
    color: rgb(41, 41, 41);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #B3A398;
    color : rgb(6, 6, 6)
}