.register-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.register-form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.register-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #E3E1D9;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.register-form button:hover {
    background-color: #B3A398;
}

.register-form button:active {
    background-color: #B3A398;
}

.back-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6c757d;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
}

.back-button:hover {
    background-color: #5a6268;
}

.back-button:active {
    background-color: #545b62;
}